* {
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

body {
  background-color: rgba(236, 187, 142, 0.569);
  font-family: sans-serif;
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* Dropdown */
select {
  border: 1px solid white;
  background-color: #d2691e;
  color: white;

  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  width: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: burlywood;

  padding: 20px 50px;
}

button {
  padding: 10px 20px;
  background-color: #d2691e;

  border: 1px solid white;
  box-shadow: 1px 1px 4px #d2691e;
  border-radius: 5px;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;

  cursor: pointer;

  transition: background 1s;
}

button:hover {
  background-color: darkred;
}

.separador_nav {
  display: flex;
  gap: 20px;
}

.container_2 {
  width: 100%;
  display: flex;
  height: 100%;

  flex: 1;
  gap: 10px;
}

.menu_fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(214, 139, 0);
  gap: 20px;
  padding: 20px 0;
  border-radius: 0 10px 10px 0;
  width: 300px;
}

.menu_fixed a {
  color: beige;
  transition: all 0.8s;
}

.menu_fixed a:hover {
  color: rgb(126, 90, 90);
}

/* Container da galeria */
.page_right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 5px;
}

.page_right a {
  width: 150px;
  height: 150px;
}

.footer_container {
  flex: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
  background-color: rgb(245, 112, 112);
}

footer {
  text-align: center;

  height: 100%;
  width: 100%;
}
