div.myClass_hat13 {
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: red
}

div.myClass_hat14 {
    position: absolute;
    top: 0px;
    left: 60px;
    background-color: red
}

div.myClass_hat15 {
    position: absolute;
    top: 0px;
    left: 80px;
    background-color: blue
}

div.myClass_hat16 {
    position: absolute;
    top: 0px;
    left: 100px;
    background-color: red
}

div.myClass_hat17 {
    position: absolute;
    top: 0px;
    left: 120px;
    background-color: red
}

div.myClass_hat18 {
    position: absolute;
    top: 0px;
    left: 140px;
    background-color: blue
}

div.myClass_hat19 {
    position: absolute;
    top: 0px;
    left: 160px;
    background-color: red
}

div.myClass_hat110 {
    position: absolute;
    top: 0px;
    left: 180px;
    background-color: red
}



div.myClass_hat21 {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: red
}

div.myClass_hat22 {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: red
}

div.myClass_hat23 {
    position: absolute;
    top: 20px;
    left: 60px;
    background-color: red
}

div.myClass_hat24 {
    position: absolute;
    top: 20px;
    left: 80px;
    background-color: blue
}

div.myClass_hat25 {
    position: absolute;
    top: 20px;
    left: 100px;
    background-color: red
}

div.myClass_hat26 {
    position: absolute;
    top: 20px;
    left: 120px;
    background-color: red
}

div.myClass_hat27 {
    position: absolute;
    top: 20px;
    left: 140px;
    background-color: blue
}

div.myClass_hat28 {
    position: absolute;
    top: 20px;
    left: 160px;
    background-color: red
}

div.myClass_hat29 {
    position: absolute;
    top: 20px;
    left: 180px;
    background-color: red
}

div.myClass_hat30 {
    position: absolute;
    top: 20px;
    left: 200px;
    background-color: red
}


/* --------------- */
div.myClass_hat31 {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: red
}

div.myClass_hat32 {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: red
}

div.myClass_hat33 {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: red
}

div.myClass_hat34 {
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: red
}

div.myClass_hat35 {
    position: absolute;
    top: 40px;
    left: 80px;
    background-color: blue
}

div.myClass_hat36 {
    position: absolute;
    top: 40px;
    left: 100px;
    background-color: blue
}

div.myClass_hat37 {
    position: absolute;
    top: 40px;
    left: 120px;
    background-color: blue
}

div.myClass_hat38 {
    position: absolute;
    top: 40px;
    left: 140px;
    background-color: blue
}

div.myClass_hat39 {
    position: absolute;
    top: 40px;
    left: 160px;
    background-color: red
}

div.myClass_hat40 {
    position: absolute;
    top: 40px;
    left: 180px;
    background-color: red
}

div.myClass_hat41 {
    position: absolute;
    top: 40px;
    left: 200px;
    background-color: red
}

div.myClass_hat42 {
    position: absolute;
    top: 40px;
    left: 220px;
    background-color: red
}

/* ------------------ */

div.myClass_hat441 {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: yellow
}

div.myClass_hat442 {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: yellow
}

div.myClass_hat43 {
    position: absolute;
    top: 60px;
    left: 40px;
    background-color: red
}

div.myClass_hat44 {
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: blue;
}

div.myClass_hat45 {
    position: absolute;
    top: 60px;
    left: 80px;
    background-color: yellow
}

div.myClass_hat46 {
    position: absolute;
    top: 60px;
    left: 100px;
    background-color: blue
}

div.myClass_hat47 {
    position: absolute;
    top: 60px;
    left: 120px;
    background-color: blue
}

div.myClass_hat48 {
    position: absolute;
    top: 60px;
    left: 140px;
    background-color: yellow;
}

div.myClass_hat49 {
    position: absolute;
    top: 60px;
    left: 160px;
    background-color: blue;
}

div.myClass_hat50 {
    position: absolute;
    top: 60px;
    left: 180px;
    background-color: red
}

div.myClass_hat51 {
    position: absolute;
    top: 60px;
    left: 200px;
    background-color: yellow
}

div.myClass_hat52 {
    position: absolute;
    top: 60px;
    left: 220px;
    background-color: yellow
}

/* ------------------------- */


div.myClass_hat551 {
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: yellow
}

div.myClass_hat552 {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: yellow
}

div.myClass_hat53 {
    position: absolute;
    top: 80px;
    left: 40px;
    background-color: yellow
}

div.myClass_hat54 {
    position: absolute;
    top: 80px;
    left: 60px;
    background-color: blue;
}

div.myClass_hat55 {
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: blue
}

div.myClass_hat56 {
    position: absolute;
    top: 80px;
    left: 100px;
    background-color: blue
}

div.myClass_hat57 {
    position: absolute;
    top: 80px;
    left: 120px;
    background-color: blue
}

div.myClass_hat58 {
    position: absolute;
    top: 80px;
    left: 140px;
    background-color: blue;
}

div.myClass_hat59 {
    position: absolute;
    top: 80px;
    left: 160px;
    background-color: blue;
}

div.myClass_hat60 {
    position: absolute;
    top: 80px;
    left: 180px;
    background-color: yellow
}

div.myClass_hat61 {
    position: absolute;
    top: 80px;
    left: 200px;
    background-color: yellow
}

div.myClass_hat62 {
    position: absolute;
    top: 80px;
    left: 220px;
    background-color: yellow
}

/* ------------------ */


div.myClass_hat661 {
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: yellow
}

div.myClass_hat662 {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: yellow
}

div.myClass_hat63 {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: blue
}

div.myClass_hat64 {
    position: absolute;
    top: 100px;
    left: 60px;
    background-color: blue;
}

div.myClass_hat65 {
    position: absolute;
    top: 100px;
    left: 80px;
    background-color: blue
}

div.myClass_hat66 {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: blue
}

div.myClass_hat67 {
    position: absolute;
    top: 100px;
    left: 120px;
    background-color: blue
}

div.myClass_hat68 {
    position: absolute;
    top: 100px;
    left: 140px;
    background-color: blue;
}

div.myClass_hat69 {
    position: absolute;
    top: 100px;
    left: 160px;
    background-color: blue;
}

div.myClass_hat70 {
    position: absolute;
    top: 100px;
    left: 180px;
    background-color: blue
}

div.myClass_hat71 {
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: yellow
}

div.myClass_hat72 {
    position: absolute;
    top: 100px;
    left: 220px;
    background-color: yellow
}

/* ---------------- */

div.myClass_hat73 {
    position: absolute;
    top: 120px;
    left: 40px;
    background-color: blue
}

div.myClass_hat74 {
    position: absolute;
    top: 120px;
    left: 60px;
    background-color: blue;
}

div.myClass_hat75 {
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: blue
}


div.myClass_hat78 {
    position: absolute;
    top: 120px;
    left: 140px;
    background-color: blue;
}

div.myClass_hat79 {
    position: absolute;
    top: 120px;
    left: 160px;
    background-color: blue;
}

div.myClass_hat80 {
    position: absolute;
    top: 120px;
    left: 180px;
    background-color: blue
}

/* ---------------- */

div.myClass_hat82 {
    position: absolute;
    top: 140px;
    left: 20px;
    background-color: brown
}

div.myClass_hat83 {
    position: absolute;
    top: 140px;
    left: 40px;
    background-color: brown
}

div.myClass_hat84 {
    position: absolute;
    top: 140px;
    left: 60px;
    background-color: brown;
}


div.myClass_hat85 {
    position: absolute;
    top: 140px;
    left: 160px;
    background-color: brown;
}

div.myClass_hat86 {
    position: absolute;
    top: 140px;
    left: 180px;
    background-color: brown
}

div.myClass_hat87 {
    position: absolute;
    top: 140px;
    left: 200px;
    background-color: brown
}

/* ---------------- */

div.myClass_hat91 {
    position: absolute;
    top: 160px;
    left: 0px;
    background-color: brown
}

div.myClass_hat92 {
    position: absolute;
    top: 160px;
    left: 20px;
    background-color: brown
}

div.myClass_hat93 {
    position: absolute;
    top: 160px;
    left: 40px;
    background-color: brown
}

div.myClass_hat94 {
    position: absolute;
    top: 160px;
    left: 60px;
    background-color: brown;
}


div.myClass_hat95 {
    position: absolute;
    top: 160px;
    left: 160px;
    background-color: brown;
}

div.myClass_hat96 {
    position: absolute;
    top: 160px;
    left: 180px;
    background-color: brown
}

div.myClass_hat97 {
    position: absolute;
    top: 160px;
    left: 200px;
    background-color: brown
}

div.myClass_hat98 {
    position: absolute;
    top: 160px;
    left: 220px;
    background-color: brown
}